extends ./layout.jade

block content
    .container(style="padding-bottom:100px;")
        if (posts)
            each post in posts 
                .container
                    .row.col-lg-12
                        h3.text-left(style="display:inline; word-wrap:break-word; padding-bottom:50px;") #{post.title}
                        hr
                    .row.col-lg-12(style="word-wrap:break-word; padding-bottom:50px;")
                        p !{post.text}
                        hr
                        span.pull-right By 
                            a(style="display:inline" href="/user/#{post.UserId}") #{post.author} 
                            span at #{post.createdAt}
            .nav
                ul.pager
                    li
                        if (previousPage)
                            a(href='/blog/#{previousPage}') Previous
                        if (nextPage)
                            a(href='/blog/#{nextPage}') Next

        else 
            p "No Posts To Show"