html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Steve\'s Blog: WIP')
        meta(name='author', content='Steve')
        link(rel='icon', href='/includes/images/favicon.ico')
        
        //Bootstrap CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css' rel='stylesheet')
        
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
        
        .navbar.navbar-default.navbar-static-top(role='navigation')
            .container
                .navbar-header
                    a.navbar-brand(href='/') Steve's Blog
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li(class=title=='Home'?'active':undefined)
                            a(href='/') Home
                        li(class=title=='About Me'?'active':undefined)
                            a(href='/about') About
                        li(class=title=='Contact Me'?'active':undefined)
                            a(href='/contact') Contact Me
                        li(class=title=='Login'?'active':undefined)
                            a(href='/login') Login
        title #{title}
        .page-header    
            h1(class="header") #{type}
        
    body
        block content
